/**
* General
*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.site-wrapper {
    background: url('../img/icecream1-banner.png') no-repeat top center;
    background-color: #849d8f;
}

.visually-hidden {
    display: none;
}

.container {
    margin: 0 auto;
    width: 900px;
    padding: 0 20px;
}

.button {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #f16542;
    border-radius: 35px;
    display: block;
}

/**
* Header
*/
.main-header {
    padding-top: 10px;
}

.main-header .container {
    display: flex;
    flex-direction: column;
}

/**
* Logo
*/
.main-nav {
    display: flex;
    align-content: center;
}

.main-nav__logo {
    width: 155px;
    height: 70px;
}

/**
* Site navigation
*/
.site-nav, 
.catalog-menu,
.user-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-nav {
    width: 400px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.site-nav__link {
    color: #fff;
}

.site-nav__item:nth-of-type(1) {
    margin-left: 25px;
}

.site-nav__item:nth-of-type(2) {
    margin-left: 27px;
}

.site-nav__item:nth-of-type(3) {
    margin-left: 29px;
}

/**
* User navigation
*/
.user-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-nav__item:nth-of-type(2) {
    margin: 0 10px;
}

/**
* TODO to be removed
*/
.user-nav__item {
    width: 30px;
    height: 30px;
    background-color: #fff;
}
.user-nav__item * {
    display: none;
}

/**
* Contacts
*/
.contacts {
    color: #fff;
    align-self: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.contacts__work-time {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.contacts__phone-num {
    font-size: 22px;
    margin: 0;
}

/*
* Main
*/
.slider {
    height: 535px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.slider__nav {
    position: absolute;
    width: 80px;
    left: 20px;
    bottom: 60px;
}

.slider__promo {
    list-style: none;
    padding: 0;
    margin: 0 100px 40px 100px;
}

.slider__item:not(.slider__item--active) {
    display: none;
}

.slider__text {
    font-size: 60px;
    color: #fff;
    margin-bottom: 40px;
}

.slider__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.slider__label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.slider__link {
    font-size: 40px;
    margin-bottom: 40px;
}

/**
* Banner
*/
.promotions {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.promotion__item {
    padding: 20px 25px 0 20px;
    height: 230px;
    width: 420px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.promotion__item:first-child {
    margin-right: 20px;
}

.promotion__header,
.promotion__text {
    color: #fff;
}

.promotion__header {
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 25px 0;
}

.promotion__text {
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    margin: 0 0 25px 0; 
}

.promotion__link {
    font-size: 18px;
    align-self: flex-end;
    padding: 10px 25px;
}

.promotion__item--paspberry {
    background: url('../img/banner1.jpg') no-repeat;
}

.promotion__item--chocolate {
    background: url('../img/banner2.jpg') no-repeat;
}

/**
* Bestsellers
*/
.best-sellers__list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.best-sellers__item {
    width: 200px;
    position: relative;
}

.best-sellers__item::before {
    content: "";
    width: 65px;
    height: 65px;
    display: block;
    position: absolute;
    top: 10px;
    background: url('../img/hit.svg') no-repeat;
    z-index: 1;
}

.best-sellers__image {
    border-radius: 50%;
    margin-bottom: 15px;
}

.best-sellers__price {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 120px;
}

.best-sellers__link {
    color: #fff;
    font-size: 16px;
}

/**
* Shop-info
*/
.shop-info {
    margin-bottom: 40px;
}

.shop-info__items {
    background: url('../img/waffles.jpg');
    border-radius: 20px;
    padding: 25px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-info__header {
    font-size: 24px;
    margin: 0 0 15px 0;
}

.shop-info__item {
    width: 400px;
    padding: 20px 0 0 60px;
    margin: 0;
    position: relative;
}

.shop-info__item:after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.shop-info__item:nth-of-type(1)::after {
    background: url('../img/icecream.svg') no-repeat;
}

.shop-info__item:nth-of-type(2)::after {
    background: url('../img/cow.svg') no-repeat;
}

.shop-info__item:nth-of-type(3)::after {
    background: url('../img/leaf.svg') no-repeat;
}

.shop-info__item:nth-of-type(4)::after {
    background: url('../img/thermometer.svg') no-repeat;
}

/**
* Info block
*/
.info-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.info-block__header {
    font-size: 16px;
    color: #5a5a5a;
    margin: 0;
}

.news__header {
    color: #353535;
    font-size: 24px;
}

.news,
.subscribe {
    width: 420px;
    height: 220px;
    border-radius: 25px;
}

.news {
    padding: 30px 110px 30px 20px;
    background: url('../img/news.jpg') no-repeat;
}

.subscribe {
    background: url('../img/mail.png') no-repeat;
    padding: 5px;
}

.subscribe__container {
    padding: 35px 25px 40px 25px;
    background-color: #f8f7f4;
    border-radius: 25px;
    min-height: 100%;
}

.subscribe__text {
    color: #5a5a5a;
    font-size: 16px;
    margin-bottom: 20px;
}

/**
* Map
*/
.map {
    margin: 0 auto;
    height: 430px;
    position: relative;
    background: url('../img/map.jpg') no-repeat;
    margin: 0 auto;
    width: 900px;
}

/**
* Feed-back
*/
.feed-back {
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px 25px;
    width: 305px;
    height: 305px;
}

.feed-back__title {
    font-size: 14px;
    color: #323232;
    font-weight: normal;
}

.feed-back__address {
    font-size: 18px;
    font-weight: bold; 
    font-style: normal;
}

.feed-back__phone-text {
    font-size: 14px;
    color: #323232;
    margin-bottom: 25px;
}

.feed-back__phone {
    font-size: 18px;
    color: #323232;
    font-weight : bold;
    text-decoration: none; 
}

/**
* Footer
*/
.main-footer {
    padding: 20px;
    display: flex;
}

.social {
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.social__item {
    width: 35px;
    height: 35px;
    display: none;
}

.about-us {
    width: 420px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.copyright {
    width: 200px;
}