/**
* General
*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.site-wrapper {
    background: url('../img/icecream1-banner.png') no-repeat top center;
    background-color: #849d8f;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 1200px;
    padding: 0 27px;
}

.button {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    background-color: #f16542;
    background: linear-gradient(to bottom, #f26843, #e74b36);
    border-radius: 35px;
}

/**
* Header
*/
.main-header {
    padding-top: 9px;
}

.main-header .container {
    display: flex;
    flex-direction: column;
}

/**
* Logo
*/
.main-nav {
    display: flex;
    align-content: center;
}

.main-nav__logo {
    width: 154px;
    height: 64px;
}

/**
* Site navigation
*/
.site-nav, 
.catalog-menu,
.user-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-nav {
    width: 400px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.site-nav__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-nav__item {
    position: relative;
}

.site-nav__item--active .site-nav__link {
    color: #323232;
    background-color: #f7f6f3;
    padding: 7px 13px;
    border-radius: 25px;
    text-decoration: none;
}

.catalog-menu {
    width: 143px;
    position: absolute;
    font-size: 14px;
    background-color: #f8f7f4;
    top: 30px;
    border-radius: 5px;
    z-index: 1;
}

.catalog__link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #323232;
    padding-left: 15px;
    padding: 11px 18px;
}

.catalog__link:hover,
.catalog__link:focus,
.catalog__link:active {
    background-color: #fbded8;
}

.catalog__item:first-child {
    border-bottom: 1px solid #d1d0ce;
}

.catalog__item:first-child .catalog__link {
    font-weight: 700;
}

.site-nav__item:nth-of-type(1) {
    margin-left: 14px;
}

.site-nav__item:nth-of-type(2) {
    margin-left: 15px;
}

.site-nav__item:nth-of-type(3) {
    margin-left: 26px;
}

/**
* User navigation
*/
.user-nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-nav__item {
    position: relative;
}

.user-nav__item:nth-of-type(2) {
    margin: 0 10px;
}

.user-nav__search {
    opacity: 0.2;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.icon-search {
    position: absolute;
    left: 9px;
    top: 9px;
    fill: #fff;
}

.user-nav__search-form {
    position: absolute;
    width: 340px;
    top: 35px;
    left: -305px;
    padding: 20px 15px;
    background-color: #f8f7f4;
    border-radius: 5px;
}

.site-search__input {
    width: 100%;
    padding: 9px 15px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
}

.user-nav__registration {
    padding: 8px 11px 8px 40px;
    font-size: 16px;
    color: #323232;
    border-radius: 20px;
}

.icon-login {
    position: absolute;
    top: 7px;
    left: 16px;
    color: #323232;
}

.user-nav__login {
    position: absolute;
    top: 40px;
    left: -186px;
    width: 277px;
    padding: 20px 17px 20px 19px;
    background-color: #f8f7f4;
    border-radius: 5px;
}

.user-nav__fieldset {
    border: 0;
    padding: 0;
}

.user-nav__email,
.user-nav__password {
    padding: 9px 14px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid  #d3d3d2;
    font-size: 14px;
    margin-bottom: 20px;
}

.user-nav__action {
    display: flex;
}

.user-nav__send--button {
    padding: 10px 25px;
    margin-right: 20px;
}

.user-nav__links {
    font-size: 13px;
    line-height: 24px;
}

.user-nav__link {
    display: block;
    color: #323232;
    text-decoration: none;
    border-bottom: 1px solid #adacaa;
}

.shopping-card__quantity {
    color: #fff;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 8px 30px 8px 40px;
    border-radius: 20px;
}

.icon-shopping-card {
    position: absolute;
    top: 8px;
    left: 15px;
    width: 26px;
    height: 22px;;
}

/**
* Contacts
*/
.contacts {
    color: #fff;
    align-self: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.contacts__work-time {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.contacts__phone-num {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    line-height: 24px;
}

/*
* Main
*/
.slider {
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.slider__nav {
    position: absolute;
    width: 80px;
    left: 29px;
    bottom: 59px;
}

.slider__promo {
    list-style: none;
    padding: 0;
    width: 680px;
    margin: 0 auto 35px auto;
    text-align: center;
}

.slider__item:not(.slider__item--active) {
    display: none;
}

.slider__text {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    margin-bottom: 40px;
}

.slider__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.slider__label {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
}

.slider__link {
    font-size: 40px;
    margin-bottom: 40px;
}

.slider__link--button {
    padding: 15px 40px;
    font-size: 32px;
}

/**
* Banner
*/
.promotions {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

.promotion__item {
    padding: 20px 18px 0 20px;
    height: 230px;
    width: 560px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.promotion__item:first-child {
    margin-right: 26px;
}

.promotion__header,
.promotion__text {
    color: #fff;
}

.promotion__header {
    font-size: 35px;
    line-break: 45px;
    font-weight: bold;
    margin: 0 0 14px 0;
}

.promotion__text {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 50px 0; 
}

.promotion__link {
    font-size: 18px;
    align-self: flex-end;
    padding: 10px 23px;
}

.promotion__item--paspberry {
    background: url('../img/banner1.jpg') no-repeat;
}

.promotion__item--chocolate {
    background: url('../img/banner2.jpg') no-repeat;
}

/**
* Bestsellers
*/
.best-sellers__list {
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.best-sellers__item {
    width: 267px;
    position: relative;
}

.best-sellers__item::before {
    content: "";
    width: 65px;
    height: 65px;
    display: block;
    position: absolute;
    background: url('../img/hit.svg') no-repeat;
    z-index: 1;
}

.best-sellers__image {
    border-radius: 50%;
    margin-bottom: 9px;
}

.best-sellers__price {
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    position: absolute;
    top: 205px;
}

.best-sellers__weight {
    font-size: 30px;
}

.best-sellers__link {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

/**
* Shop-info
*/
.shop-info {
    margin-bottom: 40px;
}

.shop-info__items {
    background: url('../img/waffles.jpg');
    border-radius: 20px;
    padding: 25px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop-info__header {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin: 0;
}

.shop-info__item {
    width: 540px;
    padding: 24px 0 0 60px;
    margin: 0;
    position: relative;
    font-size: 16px;
    line-height: 22px;
}

.shop-info__item:after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 2px;
}

.shop-info__item:nth-of-type(1)::after {
    background: url('../img/icecream.svg') no-repeat;
}

.shop-info__item:nth-of-type(2)::after {
    background: url('../img/cow.svg') no-repeat;
}

.shop-info__item:nth-of-type(3)::after {
    background: url('../img/leaf.svg') no-repeat;
}

.shop-info__item:nth-of-type(4)::after {
    background: url('../img/thermometer.svg') no-repeat;
}

/**
* Info block
*/
.info-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.info-block__header {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #5a5a5a;
    margin: 0 0 5px 0;
}

.news__header {
    color: #353535;
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    text-decoration: none;
}

.news,
.subscribe {
    width: 560px;
    height: 220px;
    border-radius: 25px;
}

.news {
    padding: 23px 220px 30px 22px;
    background: url('../img/news.jpg') no-repeat;
}

.subscribe {
    background: url('../img/mail.jpg') no-repeat;
    padding: 5px;
}

.subscribe__container {
    padding: 30px 15px 28px 25px;
    background-color: #f8f7f4;
    border-radius: 25px;
    min-height: 100%;
}

.subscribe__input {
    padding: 10px 15px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid #d3d3d2;
    margin-right: 10px;
    width: 360px;
}

.subscribe__text {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 37px 0;
}

.subscribe__action--button {
    padding: 13px 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
}
/**
* Map
*/
.map {
    margin: 0 auto;
    height: 430px;
    position: relative;
    background: url('../img/map.jpg') no-repeat;
    margin: 0 auto;
    width: 1200px;
}

/**
* Feed-back
*/
.feed-back {
    position: absolute;
    right: 20px;
    top: 60px;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px 25px;
    width: 305px;
    height: 305px;
}

.feed-back__title {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    font-weight: normal;
    margin: 0;
}

.feed-back__address {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold; 
    font-style: normal;
    margin-bottom: 20px;
}

.feed-back__phone-text {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    margin-bottom: 25px;
    margin: 0 0 px 0;
}

.feed-back__order-text {
    margin-bottom: 7px;
}

.feed-back__phone {
    font-size: 18px;
    color: #323232;
    font-weight : bold;
    text-decoration: none; 
}

.feed-back__open-time {
    margin: 0;
}

.feed-back--button {
    font-size: 18px;
    line-height: 24px;
    padding: 11px 28px;
}

/**
* Footer
*/
.main-footer {
    padding: 20px;
    display: flex;
}

.social {
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__item {
    position: relative;
    width: 35px;
    height: 35px;
}


.about-us {
    width: 440px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.about-us__link {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.copyright {
    width: 200px;
    color: #fefefe;
    font-size: 12px;
    text-align: right;
}

.copyright__logo {
    display: inline-block;
    text-align: left;
}

.copyright__text {
    text-align: right;
}

.copyright__link {
    color: #fefefe;
    font-size: 12px;
}